In [1]:
# Import the dependencies 
import pandas as pd 
import gmaps
import requests
# Import the API key. 
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame. 
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2020-08-28 01:21:04,22.08,-159.32,84.20,66,20,12.75
1,1,Hasaki,JP,2020-08-28 01:21:06,35.73,140.83,91.99,79,75,8.05
2,2,Busselton,AU,2020-08-28 01:21:02,-33.65,115.33,57.99,88,0,1.14
3,3,Port Elizabeth,ZA,2020-08-28 01:21:21,-33.92,25.57,59.00,62,55,11.41
4,4,Upernavik,GL,2020-08-28 01:21:02,72.79,-56.15,42.24,72,0,5.57

In [3]:
# Get the data types. 
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# COnfigure gmaps to use your Google API Key. 
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature. 
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature 
# Get the latitude and longitude. 
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature. 
max_temp = city_data_df["Max Temp"]
# Assign the figure variable. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.0)
# Assign the heatmap variable. 
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp]
                                , dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer. 
fig.add_layer(heat_layer)
# Call the figure to plot the data. 
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature. 
min_temp = float(input("What is the minimum temperature you wold like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you wold like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2020-08-28 01:21:04,22.08,-159.32,84.20,66,20,12.75
6,6,Beaufort,MY,2020-08-28 01:22:17,5.35,115.75,80.60,88,20,2.24
10,10,La Palma,US,2020-08-28 01:22:17,33.85,-118.05,87.80,40,1,4.70
11,11,Qandala,SO,2020-08-28 01:22:17,11.47,49.87,88.77,53,100,5.19
16,16,Faanui,PF,2020-08-28 01:21:08,-16.48,-151.75,77.76,77,0,14.97
19,19,Sao Filipe,CV,2020-08-28 01:21:51,14.90,-24.50,78.62,85,95,4.21
23,23,Bengkulu,ID,2020-08-28 01:17:43,-3.80,102.27,78.96,75,0,3.60
25,25,Kearney,US,2020-08-28 01:18:01,40.70,-99.08,89.60,46,1,9.17
27,27,Bang Saphan,TH,2020-08-28 01:22:19,11.21,99.51,78.80,94,20,1.12
35,35,Ponta Do Sol,PT,2020-08-28 01:21:08,32.67,-17.10,75.20,60,20,29.97

In [12]:
preferred_cities_df.count()

City_ID       194
City          194
Country       194
Date          194
Lat           194
Lng           194
Max Temp      194
Humidity      194
Cloudiness    194
Wind Speed    194
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng Hotel Name
0          Kapaa      US     84.20  22.08 -159.32
6       Beaufort      MY     80.60   5.35  115.75
10      La Palma      US     87.80  33.85 -118.05
11       Qandala      SO     88.77  11.47   49.87
16        Faanui      PF     77.76 -16.48 -151.75
19    Sao Filipe      CV     78.62  14.90  -24.50
23      Bengkulu      ID     78.96  -3.80  102.27
25       Kearney      US     89.60  40.70  -99.08
27   Bang Saphan      TH     78.80  11.21   99.51
35  Ponta Do Sol      PT     75.20  32.67  -17.10

In [15]:
# Set the parameters to search for a hotel. 
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [17]:
# Iterate through the DataFrame. 
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude 
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to the location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # use the search term: "lodging" and our latitude and longitude. 
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Mae the request and get the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name. 
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found.... skipping.")

Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.

In [18]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kapaa,US,84.20,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
6,Beaufort,MY,80.60,5.35,115.75,The Gem Hotel Beaufort
10,La Palma,US,87.80,33.85,-118.05,La Quinta Inn & Suites by Wyndham Buena Park
11,Qandala,SO,88.77,11.47,49.87,
16,Faanui,PF,77.76,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
19,Sao Filipe,CV,78.62,14.90,-24.50,Tortuga B&B
23,Bengkulu,ID,78.96,-3.80,102.27,Grage Hotel Bengkulu
25,Kearney,US,89.60,40.70,-99.08,Holiday Inn Kearney
27,Bang Saphan,TH,78.80,11.21,99.51,Ladawan Boutique Hotel
35,Ponta Do Sol,PT,75.20,32.67,-17.10,Hotel do Campo

In [20]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.1)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.1)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data 
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
info_box_template = """
<dl>
<dt>Hotel name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [23]:
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [24]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.1)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))