## Deliverable 2. Create a Customer Travel Destinations Map.

In [8]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [9]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Saint-Philippe,RE,-21.36,55.77,71.60,73,20,17.22,few clouds
1,1,Roma,US,43.21,-75.46,80.01,74,1,6.93,light rain
2,2,Yeppoon,AU,-23.13,150.73,59.00,72,59,8.05,broken clouds
3,3,Yumen,CN,40.28,97.20,57.25,48,17,7.23,few clouds
4,4,Khatanga,RU,71.97,102.50,49.78,73,82,7.90,broken clouds

In [10]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maxium temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maxium temperature you would like for your trip? 90

In [15]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]

In [82]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                232
City                   232
Country                232
Lat                    232
Lng                    232
Max Temp               232
Humidity               232
Cloudiness             232
Wind Speed             232
Current Description    232
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [19]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_dfint["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Roma,US,80.01,light rain,43.21,-75.46,
7,Arraial Do Cabo,BR,82.40,clear sky,-22.97,-42.03,
11,Abaete,BR,86.00,clear sky,-19.16,-45.45,
13,Shingu,JP,76.28,clear sky,33.73,135.98,
20,Ponta Do Sol,PT,75.20,scattered clouds,32.67,-17.10,
28,Albany,US,77.00,light rain,42.60,-73.97,
30,Los Llanos De Aridane,ES,75.20,broken clouds,28.66,-17.92,
36,Valdez,EC,78.03,broken clouds,1.25,-78.98,
43,Ibra,OM,87.37,overcast clouds,22.69,58.53,
45,Bolitoc,PH,81.30,overcast clouds,15.74,119.88,

In [71]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat}, {lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found..... skipping.")
    
# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
Hotel not found..... skipping.
-----------------------------
Data Retrieval Complete
-----------------------------

In [83]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
hotel_df.dropna(subset=['Hotel Name'], inplace=True)
clean_hotel_df = hotel_df
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Roma,US,80.01,light rain,43.21,-75.46,Wingate By Wyndham Rome
7,Arraial Do Cabo,BR,82.40,clear sky,-22.97,-42.03,Pousada Porto Praia
11,Abaete,BR,86.00,clear sky,-19.16,-45.45,Hotel Millenium
13,Shingu,JP,76.28,clear sky,33.73,135.98,Shingu UI Hotel
20,Ponta Do Sol,PT,75.20,scattered clouds,32.67,-17.10,Hotel do Campo
30,Los Llanos De Aridane,ES,75.20,broken clouds,28.66,-17.92,Valle Aridane
36,Valdez,EC,78.03,broken clouds,1.25,-78.98,hotel Stefany
43,Ibra,OM,87.37,overcast clouds,22.69,58.53,مزرعة راحة النفوس المنزفة
45,Bolitoc,PH,81.30,overcast clouds,15.74,119.88,Seasun Beach Resort & Hotel
46,Port Blair,IN,82.54,few clouds,11.67,92.75,Fortune Resort Bay Island

In [84]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [86]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}  and  {Max Temp} °F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [91]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.1)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))